#!/usr/bin/make -f

SCONS=scons 

%:
	dh $@

override_dh_auto_build:
	$(SCONS) mode=small mcu=f4 hse=25000000 -j4 INSTALLDIR=$(DEB_DESTDIR)/usr

override_dh_auto_clean:
	dh_auto_clean
	$(SCONS) mode=small mcu=f4 hse=25000000 -j4 INSTALLDIR=$(DEB_DESTDIR)/usr -c

override_dh_auto_install:
	$(SCONS) mode=small mcu=f4 hse=25000000 -j4 INSTALLDIR=$(DEB_DESTDIR)/usr install
